:root {
  --matma-cell-width: 28px;
  --matma-cell-height: var(--matma-cell-width);
  --matma-btn-bg: #1a1a1a;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.d-inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

#app {
  min-width: 0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

#results {
  overflow: auto;
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.card:empty {
  display: none;
}

.form-input {
  border-color: #646cff;
}

.form-input:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: #646cff;
}

[type="number"] {
  font-size: 2rem;
  max-width: 5rem;
  padding: 0.25rem 0.5rem;
}


@media (prefers-color-scheme: light) {
  :root {
    --matma-btn-bg: #f9f9f9;
    color: #213547;
    background-color: #fff5da;
  }

  a:hover {
    color: #747bff;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.5);
  }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 0.25rem 0.75rem;
  text-align: left;
  border-top: 1px solid #646cff;
}

.calc-table {
  margin: 0 auto;
}

.calc-table caption {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.calc-table tr {
  position: relative;
}

.calc-table tr::before,
.calc-table tr::after {
  display: flex;
  line-height: var(--matma-cell-height);
  width: 1rem;
}

.calc-table tr::before {
  justify-content: end;
}

.calc-table tr::before {
  content: attr(data-row);
}

.calc-table tr::after {
  content: attr(data-row-letter);
}

.calc-table td {
  cursor: pointer;
  background: #fff;
  border: 1px solid #ffaead;
  text-align: center;
  vertical-align: middle;
  height: var(--matma-cell-height);
  width: var(--matma-cell-width);
  padding: 0;
}

.calc-table tr:first-child td {
  position: relative;
}

.calc-table tr:first-child td::before {
  content: attr(data-col);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1;
  transform: translateY(calc(-100% - 2px));
}

.history {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  padding: 0 0.5rem 0 0;
  text-align: right;
  overflow: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

.success {
  color: #155724;
}

.error {
  color: #721c24;
}

.app-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 0.25rem;
}

.app-menu ul {
  padding: 0;
}

.app-menu ul {
  list-style: none;
}

.app-menu ul li {
  display: inline;
  margin: 0 0.25rem;
}

@media (min-width: 768px) {
  :root {
    --matma-cell-width: 56px;
    --matma-cell-height: var(--matma-cell-width);
  }

  #app {
    padding: 2rem;
  }

  .card {
    padding: 2rem;
  }

  .app-menu ul li {
    margin: 0 1em;
  }
}

@media (min-width: 1200px) {
  .history {
    display: block;
  }
}